body{ 
margin:0;
padding:0;
background:azure;
}
.logo{
text-align:center;
background-color:rgb(98,204,255);    /* 98 204 255*/
height:100px;
}
              /*header*/
.header{
margin:0;
width:100%;
height:40px;
position:absolute;
background-color:black;
border-top:4px solid gold;
}
ul{ 
margin-top:10px;
font-size:15px;
font-family:lucida console;
}
ul li{ 
display:inline;
padding:0px;
}
ul li a{
text-decoration:none;
padding:5px;
color:white;
}
.header a.active,a:hover{ 
color:black;
transition:0.7s;
background-color:white;
}
.header input{ 
float:none;
margin-left:10px;
padding:0 6px;
width:19%;
}
.side-div{ 
float:left;
width:15%;
height:100%;
margin:50px 0 0 4px;
border:2px solid black;
text-align:center;
font-family:Verdana;
background-color:azure;
padding-bottom:50px;
} 
.side-div a{ 
text-decoration:none;
color:black;
}
.side-div a:hover{ 
text-decoration:underline;
color:black;
transition:0.9s;
}
.center-div{ 
width:78%;
height:100px;
border:1px solid black;
margin:50px 0px 0 168px;  
background-color:aliceblue;
float:none;
text-align:left;
}
.center-div a{ 
text-decoration:none;
color:black;
}
.center-div a:hover{    
text-decoration:underline;
}
.center-div img{
width:auto;
height:100px;
margin:0 0 0 5px;
float:left;
box-shadow:0px 0px 4px 0px blue;
}
.p-new{ 
margin:0 0 0 65px;
background-color:gold;
width:auto;
height:20px;
text-align:center;
color:black;
font-family:Helvetica;
}
.center-div h4{ 
font-size:18px;
text-align:left;
text-align:left;
margin:0 0 0 90px;
font-family:Verdana;
}
.center-div1{
margin:7px 0 0 10px;
float:left;
width:78%;
height:100px;
border:1px solid black;  
background-color:aliceblue;
}
.center-div1 img{
width:10%;
height:100px;
margin:0 0 0 5px;
float:left;
box-shadow:0px 0px 4px 0px blue;
}
.center-div1 a{ 
text-decoration:none;
color:black;
}
.center-div1 h4{ 
text-align:left;
font-size:18px;
text-align:left;
margin:0 0 0 90px;
font-family:Verdana;
}
.center-div1 a:hover{    
text-decoration:underline;
}
.center-div2{
margin:7px 0 0 10px;
float:left;
width:78%;
height:100px;
border:1px solid black;  
background-color:aliceblue;
}
.center-div2 img{
width:10%;
height:100px;
margin:0 0 0 5px;
float:left;
box-shadow:0px 0px 4px 0px blue;
}
.center-div2 a{ 
text-decoration:none;
color:black;
}
.center-div2 h4{ 
text-align:left;
font-size:18px;
text-align:left;
margin:0 0 0 90px;
font-family:Verdana;
}
.center-div2 a:hover{    
text-decoration:underline;
}
.center-div3{
margin:7px 0 0 10px;
float:left;
width:78%;
height:100px;
border:1px solid black;  
background-color:aliceblue;
}
.center-div3 img{
width:10%;
height:100px;
margin:0 0 0 5px;
float:left;
box-shadow:0px 0px 4px 0px blue;
}
.center-div3 a{ 
text-decoration:none;
color:black;
}
.center-div3 h4{ 
text-align:left;
font-size:18px;
text-align:left;
margin:0 0 0 90px;
font-family:Verdana;
}
.center-div3 a:hover{    
text-decoration:underline;
}
 

.center-div4{
margin:7px 0 0 10px;
float:left;
width:78%;
height:100px;
border:1px solid black;  
background-color:aliceblue;
}
.center-div4 img{
width:10%;
height:100px;
margin:0 0 0 5px;
float:left;
box-shadow:0px 0px 4px 0px blue;
}
.center-div4 a{ 
text-decoration:none;
color:black;
}
.center-div4 h4{ 
text-align:left;
font-size:18px;
text-align:left;
margin:0 0 0 90px;
font-family:Verdana;
}
.center-div4 a:hover{    
text-decoration:underline;
}

.center-div5{
margin:7px 0 0 10px;
float:left;
width:78%;
height:100px;
border:1px solid black;  
background-color:aliceblue;
}
.center-div5 img{
width:10%;
height:100px;
margin:0 0 0 5px;
float:left;
box-shadow:0px 0px 4px 0px blue;
}
.center-div5 a{ 
text-decoration:none;
color:black;
}
.center-div5 h4{ 
text-align:left;
font-size:18px;
text-align:left;
margin:0 0 0 90px;
font-family:Verdana;
}
.center-div5 a:hover{    
text-decoration:underline;
}
.btn{ 
float:right;
font-size:20px;
margin:40px 20px 0 0;
background:#4ca500;
width:8%;
border-radius:10%;
outline:none;
}
.btn:hover{ 
background:white;
color:black;
}
                          /*footer*/
.left-box ul li{ 
display:inline-block;
}
.left-box ul li a{
color:gold;
}
.left-box a:hover{ 
background-color:black;
text-decoration:underline;
border-radius:40%;
transition:1s;
}
.container{
margin-top:560px;
bottom:0; 
text-align:center;
color:gold;
width:100%;
position:relative;
font-size:15px;
font-family:Lucida Console;
}
.footer{
background-color:black;
height:auto;
padding-bottom:2px;
padding-top:5px;
}
.social a:hover{
background-color:blue; 
border-radius:30% 10% 2% 10%;
transition:1s;
}
